{{ define "main" }}
  <!-- Zukünftige und heutige Events -->
  {{ $now := now }}
  {{ $sortedPages := .RegularPages.ByDate.Reverse }}
  {{ $nowDate := time.Format "2006-01-02" $now }}
  {{ $futureEvents := where $sortedPages "Params.event_date" ">=" $nowDate }}
  {{ $pastEvents := where $sortedPages "Params.event_date" "<" $nowDate }}
  
  {{ if gt (len $futureEvents) 0 }}
    {{ range $index, $element := $futureEvents }}
    <a href="{{ $element.RelPermalink }}">
    <article class="post {{ if modBool $index 2 }}even{{ end }}">
          {{ with $element.Resources.GetMatch "*/title.*" }}
            <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
          {{ else with $element.Resources.GetMatch "*/*.*" }}
            <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
          {{ else}} 
            <div class="fallback"></div>
          {{ end }}
        <div class="postTeaserContent">
          <time class="text-small" datetime="{{ $element.Params.event_date }}">
            <span class="event-countdown" data-date="{{ $element.Params.event_date }}">&nbsp;</span><br/>
            <span class="event-date">&nbsp;</span>
          </time>
          <!-- Countdown-Skript ausgelagert nach main.js -->
          <h2>{{ $element.LinkTitle }}</h2>
          <p class="text-body">{{ $element.Summary }}</p>
          {{ with $element.Params.tags }}
          <div class="tags">
            {{ range . }}<span class="tag">{{ . }}</span> {{ end }}
          </div>
          {{ end }}
        </div>
    </article>
    </a>
    {{ end }}
  {{ end }}

  <!-- Vergangene Events -->
  {{ if gt (len $pastEvents) 0 }}
  <div class="postArchiveList">
    <h3 class="m0">Vergangene Events</h3>
      {{ range $index, $element := $pastEvents }}
      <a href="{{ $element.RelPermalink }}">
      <article class="postArchive">
          <div class="postTeaserContent Archive">
            {{ $eventDate := time $element.Params.event_date }}
            <time class="text-small text-muted" datetime="{{ $element.Params.event_date }}">
                {{ $eventDate.Format "02.01.2006" }}
            </time>
            <h4 class="">{{ $element.LinkTitle }}</h>          </div>
      </article>
      </a>
      {{ end }}
  </div>
  {{ end }}
{{ end }}