<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>

{{ $class := .Params.color | default "events" }}
<body class="{{$class}}">
  {{ partial "header.html" . }}
  <div class="container min-h-content hpadding">
    <main class="mainSection">
      {{ with .Resources.GetMatch "*/title.*" }}
        <img class="postHeaderImg" src="{{ .RelPermalink }}" alt="{{ .Title }}"/>
      {{ else with .Resources.GetMatch "*/*.*" }}
        <img class="postHeaderImg" src="{{ .RelPermalink }}" alt="{{ .Title }}"/>
      {{ end }}

<div class="postHeader">
  <time class="date-container text-body" datetime="{{ .Params.event_date }}">
    <span id="event-countdown" data-date="{{ .Params.event_date }}">&nbsp;</span><br/>
    <span id="event-date">&nbsp;</span>
  </time>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var countdownEl = document.getElementById('event-countdown');
      var dateEl = document.getElementById('event-date');
      var dateStr = countdownEl.getAttribute('data-date');
      var eventDate = new Date(dateStr);
      var now = new Date();
      var daysDiff = Math.floor((eventDate - now) / (1000 * 60 * 60 * 24));
      var weekday = ["Sonntag","Montag","Dienstag","Mittwoch","Donnerstag","Freitag","Samstag"][eventDate.getDay()];
      var dateString = ("0" + eventDate.getDate()).slice(-2) + "." + ("0" + (eventDate.getMonth()+1)).slice(-2) + "." + eventDate.getFullYear();
      if (daysDiff >= 0) {
        countdownEl.textContent = "Noch " + (daysDiff+1) + " Tag" + ((daysDiff+1) !== 1 ? "e" : "");
        dateEl.textContent = weekday + ", " + dateString;
      } else {
        countdownEl.textContent = "";
        dateEl.textContent = dateString;
      }
    });
  </script>
  <h1>{{ .Title }}</h1>
  {{ with .Params.tags }}
    <div class="tags">
      {{ range . }}<span class="tag">{{ . }}</span> {{ end }}
    </div>
  {{ end }}
</div>

        <div class="postContent">
          {{ .Content }}
        </div>

      {{ if .Resources.GetMatch "album/*" }}
        <h4>Galerie</h4>
        {{ partial "image-gallery" (dict "context" . "gallery_dir" "/album") }}
      {{ end }}
    </main>
  </div>
  {{ partial "footer.html" . }}
      <script src="/themes/themefu/assets/js/table-shadow.js"></script>

</body>
</html>