{{ define "main" }}
  <!-- Display child pages -->
  {{ range $index, $element := .Pages }}
  <a href="{{ $element.RelPermalink }}">
  <article class="post {{ if modBool $index 2 }}even{{ end }}">
        {{ with $element.Resources.GetMatch "*/title.*" }}
          <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
        {{ else with $element.Resources.GetMatch "*/*.*" }}
          <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
        {{ else}}
          <div class="fallback"></div>
        {{ end }}
      <div class="postTeaserContent">
        <time class="text-small text-muted" datetime="{{ .Date | time.Format "2006-01-02T15:04:05Z07:00" }}">
            <span class="dynamic-date"></span>
        </time>
        <h2>{{ $element.LinkTitle }}</h2>
        <p class="text-body">{{ $element.Summary }}</p>
        {{ with $element.Params.tags }}
        <div class="tags">
          {{ range . }}<span class="tag">{{ . }}</span> {{ end }}
        </div>
        {{ end }}
      </div>
  </article>
  </a>
  {{ end }}
{{ end }}