{{ define "main" }}
  <!-- Display child pages -->
  {{ range $index, $element := .Pages }}
  <a href="{{ $element.RelPermalink }}">
  <article class="post {{ if modBool $index 2 }}even{{ end }}">
        {{ with $element.Resources.GetMatch "*/title.*" }}
          <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
        {{ else with $element.Resources.GetMatch "*/*.*" }}
          <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
        {{ else}}
          <div class="fallback"></div>
        {{ end }}
      <div class="postContent">
        <time class="text-small text-muted">
          {{ $daysAgo := div (sub (now.Unix | int) (.Date.Unix | int)) 86400 }}
          {{ if lt $daysAgo 30 }}
            <span class="text-small text-muted">
              vor {{ if eq $daysAgo 1 }}1 Tag{{ else }}{{ $daysAgo }} Tagen{{ end }}
            </span>
          {{ else if lt $daysAgo 90 }}
            {{ $monthsAgo := div $daysAgo 30 }}
            <span class="text-small text-muted">
              vor {{ if eq $monthsAgo 1 }}1 Monat{{ else }}{{ $monthsAgo }} Monaten{{ end }}
            </span>
          {{ else }}
            {{ .Date | time.Format ":date_long" }}
          {{ end }}
        </time>
        <h2>{{ $element.LinkTitle }}</h2>
        <p class="text-body">{{ $element.Summary }}</p>
        {{ with $element.Params.tags }}
        <div class="tags">
          {{ range . }}<span class="tag">{{ . }}</span> {{ end }}
        </div>
        {{ end }}
      </div>
  </article>
  </a>
  {{ end }}
{{ end }}