<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>

{{ $class := .Params.color | default "about" }}
<body class="{{$class}}">
  {{ partial "header.html" . }}
  <div class="container min-h-content hpadding">
    <main class="mainSection">
      {{ with .Resources.GetMatch "*/title.*" }}
        <img class="postHeaderImg" src="{{ .RelPermalink }}" alt="{{ .Title }}"/>
      {{ else with .Resources.GetMatch "*/*.*" }}
        <img class="postHeaderImg" src="{{ .RelPermalink }}" alt="{{ .Title }}"/>
      {{ end }}

      <h1>{{ .Title }}</h1>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

      {{ .Content }}

      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

      {{ if .Resources.GetMatch "album/*" }}
        {{ partial "image-gallery" (dict "context" . "gallery_dir" "/album") }}
      {{ end }}
    </main>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>