<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>

<body class="blog">
  {{ partial "header.html" . }}
  
    <div class="container min-h-content hpadding">
      <main class="mainSection">
        {{ block "main" . }}
          {{ $blogPages := where site.RegularPages "Section" "blog" }}
          {{ range $index, $element := $blogPages }}
            <a href="{{ $element.RelPermalink }}">
              <article class="post {{ if modBool $index 2 }}even{{ end }}">
                {{ with $element.Resources.GetMatch "*/title.*" }} data-tags="{{ delimit $element.Params.tags "," }}"
                  <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
                {{ else with $element.Resources.GetMatch "*/*.*" }}
                  <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
                {{ else }}
                  <div class="fallback"></div>
                {{ end }}
                <div class="postContent">
                  <h2>{{ $element.LinkTitle }}</h2>
                  <p>{{ $element.Summary }}</p>
                </div>
              </article>
            </a>
          {{ end }}
        {{ end }}
      </main>
    </div>

  {{ partial "footer.html" . }}
</body>
</html>