<footer class="footer text-small">
    <ul class="links text-muted ">
        {{ if not .IsHome }}<li><a href="/">Home</a></li>{{ end }}
        <li><a href="/legal/impressum/">Impressum</a></li>
        <li><a href="/legal/datenschutz/">Datenschutz</a></li>
        <li><a href="https://www.instagram.com/fichtelultra/" target="_blank" rel="noopener">Instagram</a></li>
        <li><a href="https://www.strava.com/clubs/fichtelultra" target="_blank" rel="noopener">Strava</a></li>
    </ul>
    <a class="copyright" href="/">
        <p class="text-muted ">
           Fichtel<span style="font-weight: 800;">Ultra</span> {{ now.Year }} 
        </p>
    </a>
</footer>