<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partialCached "head/font.html" . }}

{{/* Open Graph Meta Tags */}}
{{ $defaultOgImage := "/ogimage.jpg" }}
{{ $ogImage := $defaultOgImage }}
{{/* Für Blog/Event-Posts: title-Bild suchen */}}
{{ if or (eq .Section "blog") (eq .Section "events") }}
  {{ with .Resources.GetMatch "*/title.*" }}
    {{ $ogImage = .RelPermalink }}
  {{ end }}
{{ end }}
<meta property="og:title" content="{{ .Title }} – FichtelUltra" />
<meta property="og:site_name" content="FichtelUltra" />
<meta property="og:locale" content="de_DE" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ $ogImage }}" />
<meta property="og:image:alt" content="Trailrunning im Fichtelgebirge – FichtelUltra" />
{{ with .Lastmod }}<meta property="og:updated_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />{{ end }}
{{ with .Params.summary }}
  <meta property="og:description" content="{{ . }}" />
{{ else }}
  <meta property="og:description" content="Trailrunning im Fichtelgebirge – FichtelUltra" />
{{ end }}


<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//fichtelultra.de/tracking/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->