/* CSS Variables */
:root {
  /* Color */
  --base-weak: #DFDED3;
  --base-strong: #9C9992;
  --base-strongest: #353331;
  --accent-1-weak: #FDFFE0;
  --accent-1-strong: #EDFF7D;
  --accent-2-strong: #FF1414;
  --neutral-weakest: #FFFFFF;
  --neutral-medium: #E3E5EF;
  --neutral-strongest: #221C13;
  --neutral-overlay: rgba(255, 255, 255, 0.25);
  /* Spacing */
  --padding-inner: 4rem;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: var(--neutral-strongest);
  background-color: var(--base-strong);
}

header {
  padding: var(--padding-inner);
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('../fuheader.jpg');
  background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {;
  width: 100%;
  color: var(--neutral-weakest);
  background-color: var(--neutral-strongest);

}

a {
  color:inherit;
  text-decoration: none;
}


.parent {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 4em; 
  gap: 0px;
}
  
.gridTop {
  grid-column: span 3 / span 3;
}

.gridMain {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 2;
  padding: var(--padding-inner);
}

.gridSide {
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 1;
  margin: 0;
  padding: 0;
}

.gridBottom {
  grid-column: span 4 / span 4;
  grid-row-start: 4;
  padding: 0 var(--padding-inner);
}
      

.menu {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.menu-item {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color ease 200ms;
}
.menu-item:hover {
  background-color: var(--base-strong);
  color:var(--neutral-weakest)
}
.menu-item:active {
  background-color: var(--base-strongest);
  color:var(--neutral-weakest)
}

.is-primary {
  background-color: var(--accent-1-strong);
  color: var(--neutral-strongest);
}
.is-secondary {
  background-color: var(--base-weak);
  color: var(--neutral-strongest);
}
.is-tertiary {
  background-color: var(--neutral-weakest);
  color: var(--neutral-strongest);
}