<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
{{ $class := .Params.color | default "base" }}
<body class="parent {{ $class }}">
  {{ partial "header.html" . }}
  {{ partial "menu.html" . }}
<main class="
  {{ if .IsHome }}mainHome{{else if .IsSection }}mainSection{{else if .IsPage }}mainPage{{ end }}">
    {{ block "main" . }}
    {{ end }}
</main>
  {{ partial "footer.html" . }}
</body>
</html>