{{ define "main" }}
  <!-- Display child pages -->
  {{ range $index, $element := .Pages }}
  <a href="{{ $element.RelPermalink }}">
  <article class="post {{ if modBool $index 2 }}even{{ end }}">
        {{ with $element.Resources.GetMatch "images/*.jpg" }}
          <img class="postImg" src="{{ .RelPermalink }}" alt="{{ $element.Title }}"/>
        {{ end }}
      <div class="postContent">
        <h2>{{ $element.LinkTitle }}</h2>
        <p>{{ $element.Summary }}</p>
      </div>
  </article>
  </a>
  {{ end }}
{{ end }}